/* responsive-for-mobile */
@media screen and (max-width:600px) {


    .container,
    .input-items {
        display: flex;
        flex-direction: column;
    }

    .lists {
        display: none;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .title {
        font-size: 22px;
        font-weight: 800;
        width: auto;
        height: 28px;
        margin-left: 34px;
    }

    .nav-class {
        flex-direction: row;
        justify-content: space-between;
    }

    .three-bar {
        display: inline;
    }

    .title-name h3 {
        font-size: 1.23rem;
    }

    .title-name span {
        font-size: 1.23rem;
    }

    .top-headline h2 {
        font-size: 1.25rem;
        margin: 32px auto 0 auto;
    }

    .top-paragraph p {
        margin: 8px auto 0 auto;
    }

    .input-items {
        width: 80%;
        height: 300px;
    }

    .input-items input {
        width: 80%;
    }

    .input-items select {
        width: 80%;
    }

    .input-items button {
        width: 80%;
    }

    .input-items input::placeholder {
        text-indent: 15px;
    }

    .input-items select {
        text-indent: 15px;
    }

    /* popular-tour-section-start */
    .popular-tours {
        margin-top: 24px;
        grid-template-columns: repeat(1, 1fr);
    }

    .popular-tours-left {
        width: auto;
    }

    .popular-tours-right img {
        width: 100%;
    }


    /* choose-destination start */
    .cyd-image-box,
    .cyd-images {
        display: flex;
        flex-direction: column;
    }

    .cyd-images img {
        width: 335px;
        height: 176px;
    }

    .cyd-heading {
        align-items: center;
        justify-content: center;
    }

    .cyd-heading h2 {
        font-size: 1.25rem;
    }

    .maldives h2 {
        top: 80px;
        left: 115px;
    }

    .nepal h2 {
        top: 80px;
        left: 125px;
    }

    .srilanka h2 {
        top: 80px;
        left: 110px;
    }

    .bhutan h2 {
        top: 80px;
        left: 110px;
    }

    .kashmir h2 {
        top: 80px;
        left: 110px;
    }

    .bangladesh h2 {
        top: 80px;
        left: 95px;
    }

    .bandarban h2 {
        top: 80px;
        left: 95px;
    }

    /* choose-destination end */

    /* why-choose-us part start */
    .why-choose-us,
    .inside-two-div,
    .new-last-div {
        display: flex;
        flex-direction: column;
    }

    .inside-two-div p,
    .new-last-div p {
        width: 85%;
    }

    .inside-two-div h4,
    .new-last-div h4 {
        margin-top: 16px;
    }

    .inside-two-div,
    .new-last-div {
        margin-top: 16px;
    }

    .hotels {
        width: 335px;
        height: 289px;
    }

    /* why-choose-us part ended */

    /* bonus part start */
    .bonus-part{
        flex-direction: column;
        align-items: center;
    }
    .bonus-section p{
        width: auto;
       
    }
    /* bonus part end */

    /* newsletter-part start */
    .news-letter-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .news-letter-right img {
        width: 100%;
    }

    .newsletter-offer {
        width: 45%;
        height: 80px;
        top: 100px;
        left: 170px;
    }

    .newsletter-offer p {
        font-size: 1rem;
    }

    .newsletter-offer h3 {
        font-size: 1rem;
    }

    /* newsletter-part ended */

    /* footer part start */
    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer-image {
        margin-top: 16px;
    }

    .footer-p {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }

    /* footer part ended */


}