/* responsive-for-mobile */
@media screen and (max-width:600px) {

    
    .container,
    .input-items {
        display: flex;
        flex-direction: column;
    }

    .lists {
        display: none;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container {
        width: 80%;
        margin: 0 auto;

    }

    .title {
        font-size: 22px;
        font-weight: 800;
        width: auto;
        height: 28px;
        margin-left: 34px;
    }

    .nav-class{
        flex-direction: row;
        justify-content: space-between;
    }
    .three-bar{
        display: inline;
    }
    .title-name h3 {
        font-size: 1.23rem;
    }
    .title-name span {
        font-size: 1.23rem;
    }
    .top-headline h2 {
        font-size: 1.25rem;
        margin: 32px auto 0 auto;
    }

    .top-paragraph p {
        margin: 8px auto 0 auto;
    }

    .input-items {
        width: 80%;
        height: 300px;
    }

    .input-items input {
        width: 80%;
    }

    .input-items select {
        width: 80%;
    }

    .input-items button {
        width: 80%;
    }

    .input-items input::placeholder{
        text-indent: 15px;
    }
    .input-items select{
        text-indent: 15px;
    }

    /* popular-tour-section-start */
    .popular-tours{
        grid-template-columns: repeat(1, 1fr);
    }

    .popular-tours-left{
        width: auto;
    }
    .popular-tours-right img{
        width: 100%;
    }
    

    /* choose-destination start */
    .cyd-image-box, .cyd-images{
        display: flex;
        flex-direction: column;
    }
    .cyd-images img {
        width: 335px;
        height: 176px;
    }
    .cyd-heading{
        align-items: center;
        justify-content: center;
    }
    .cyd-heading h2{
        font-size: 1.25rem;
    }
    /* choose-destination end */

    
 
}