@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    /* background: #FFF; */
}

.hide {
    display: none;
}

/* nav section style */

.title-logo img {
    margin-top: 50px;
    width: 55px;
    height: 56.008px;
}

.title-name h3 {
    margin-top: 52px;
    padding-left: 20px;
    color: #131318;
    font-weight: 800;
    font-size: 2.25rem;
}

.title-name span {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

.title {
    margin-left: 135px;
    display: flex;

}

.list-item ul li {

    color: #424247;
    font-weight: 400;
    font-size: 1.12rem;
}

.home-color span {
    color: #FF5400;
    font-size: 1.12rem;
    font-weight: 700;
}

.lists {
    display: flex;
    list-style: none;
}

.lists li {
    padding-left: 44px;
}

.lists li a {
    text-decoration: none;
}

.list-item {
    margin-top: 64px;
    margin-right: 127px;
}

.nav-class {
    display: flex;
    justify-content: space-between;
}

/* nav style ended */

/* banner style started */
.top-headline h2 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-top: 106px;
}

.top-paragraph p {
    color: #FFF;
    font-weight: 400;
    text-align: center;
    width: 60%;
    margin: 25px auto 0 auto;
    /* margin-left: 255px;
    margin-top: 20px;
    margin-bottom: 48px; */
}

/* .input-items {
    text-align: center;
    margin: 0 auto;
} */

.container {
    width: 80%;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group13.png);
    background-repeat: round;
    display: flex;
    flex-direction: column;

}

.input-items {
    width: 80%;
    height: 85px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
}

.input-items input,
select {
    width: 20%;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-weight: 400;
    border: none;
}

.input-items button {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;

}

.input-items button>img {
    width: 24px;
    height: 24px;

}

/* main section---popular-tour-section start*/

.popular-tours {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    /* justify-content: space-between; */
}

.popular-tours-left {
    width: 90%;
    margin-top: 24px;
}

.popular-tours-left h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    /* padding-bottom: 24px; */
}

.popular-tours-left p {
    margin-top: 1rem;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.popular-tours-left ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 24px;
}

.popular-tours-left button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    width: 174px;
    height: 52px;
    border: none;

}

/* popular-tour-section end */

/* choose-destination start */
.cyd-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.cyd-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cyd-heading h2 {
    font-size: 2.5rem;
    color: #131318;
    font-weight: 800;
    margin-bottom: 24px;
}

.cyd-heading p {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    width: 85%;
    text-align: center;
    margin-bottom: 48px;
}

.cyd-images {
    display: flex;
    gap: 24px;
}

.cyd-image-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* choose-destination end */

/* why-choose-us section start */

/* .why-choose-us {} */

.why-choose-us-heading {
    width: 100%;
    height: auto;

}

.why-choose-us-heading h2 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 24px;
}

.why-choose-us-heading p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.hotels {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}

.hotels img {
    width: 64px;
    height: 64px;
    margin-top: 32px;
    margin-left: 32px;
}

.hotels h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 32px;
    margin-bottom: 16px;
    margin-top: 32px;
}

.hotels p {
    color: #5A5A5D;
    width: 486px;
    font-weight: 400;
    margin-left: 32px;
    line-height: 26px;
}

.service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);

}

.service img {
    width: 64px;
    height: 64px;
    margin-top: 32px;
    margin-left: 32px;
}

.service h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 32px;
    margin-bottom: 16px;
    margin-top: 32px;
}

.service p {
    color: #5A5A5D;
    width: 486px;
    font-weight: 400;
    margin-left: 32px;
    line-height: 26px;
}

.inside-two-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 48px auto 0 auto;

}

.last-div {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    /* margin-top: 24px;
    margin-left: 400px; */
    margin: 24px auto 0 auto;

}

.last-div img {
    width: 64px;
    height: 64px;
    margin-top: 32px;
    margin-left: 32px;
}

.last-div h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 32px;
    margin-bottom: 16px;
    margin-top: 32px;
}

.last-div p {
    color: #5A5A5D;
    width: 486px;
    font-weight: 400;
    margin-left: 32px;
    line-height: 26px;
}

/* why-choose-us section end */

/* newsletter part start */

.news-letter-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 100px;
}

.news-letter-left {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.news-letter-left h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.news-letter-left p {
    color: #5A5A5D;
    font-weight: 400;
    margin-bottom: 24px;
}

.news-letter-left input {
    width: 60%;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 24px;
}

.news-letter-left button {
    width: 60%;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-weight: 800;
    font-size: 1.25rem;
    margin-top: 24px;
}

.newsletter-offer {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    text-align: center;
    background-color: #FF5400;
    position: absolute;
    border-radius: 16px;
    top: 250px;
    left: 335px;
}

.news-letter-right {
    position: relative;
}

.newsletter-offer p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 20px;
}

.newsletter-offer h3 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/* newsletter part ended */

/* footer section start */
.footer {
    width: auto;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top img {
    width: 55px;
    height: 46.673px;
}

.footer-top h3 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
    margin-left: 16px;
}

.footer-top span {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding-top: 110px;
}

.footer-p {

    color: #5A5A5D;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    margin: ;
    /* margin-left: 380px;
    padding-top: 15px; */
}

.footer-image {
    display: flex;
    gap: 30px;
    margin-top: 16px;
    /* margin-left: 700px;
    padding-top: 32px;
    margin-bottom: 50px; */
}

.footer hr {
    width: auto;
    height: 1px;
    border-color: rgba(19, 19, 24, 0.10);
}

.copy-write-part {
    color: #131318;
    font-family: Inter;
    font-weight: 300;
    margin-top: 50px;
    /* margin-left: 680px; */
}

/* footer section end */